@model HaberSepeti.Data.Entities.Slider
@{
    ViewBag.Title = "Slider Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form" method="post" enctype="multipart/form-data" id="SliderForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="Baslik">Slider Başlığı</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "Title", placeholder = "Başlık" })
                        </div>
                        <div class="form-group">
                            <label for="URL">Slider Url</label>
                            @Html.TextBoxFor(x => x.URL, new { @class = "form-control", id = "URL", placeholder = "URL" })
                        </div>
                        <div class="form-group">
                            <label for="Aciklama">Açıklama</label>
                            @Html.TextArea("Description")
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['Description'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('Description', { enterMODE: CKEDITOR.ENTER_BR, });
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="PictureURL">Resim</label>
                            <input type="file" class="form-control" accept="image/*" name="PictureURL" id="ResimURL">
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.IsActive, new { @checked = "checked", id = "IsActive" }) Aktif Mi
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default" id="SliderEkle">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

