@using PagedList.Mvc;
@model PagedList.IPagedList<HaberSepeti.Data.Entities.Category>
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">@ViewBag.Title</header>
        <div class="panel-body">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">@TempData["Message"]</div>
            }
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Üst Kategori</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="label label-success">@item.Id</span></td>
                                <td>@item.Name</td>
                                <td>
                                    @foreach (var parentCategory in Model.Where(x => x.Id == item.ParentId))
                                    {
                                        <span>@parentCategory.Name</span>
                                    }
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <b class="label label-success">Aktif</b>
                                    }
                                    else
                                    {
                                        <b class="label label-danger">Pasif</b>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Category",new { Id=item.Id})" class="btn btn-default btn-sm">Düzenle</a>
                                    <a href="@Url.Action("Delete","Category", new { Id=item.Id })" class="btn btn-default btn-sm">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>
