@using PagedList.Mvc;
@model PagedList.IPagedList<HaberSepeti.Data.Entities.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">@ViewBag.Title</header>
        <div class="panel-body">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">@TempData["Message"]</div>
            }
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad Soyad</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Kayıt Tarihi</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="label label-success">@item.Id</span></td>
                                <td>@item.NameSurname</td>
                                <td> @item.Email</td>
                                <td> @item.Role.Name</td>
                                <td> @item.CreatedDate.ToString("dd MM yyyy")</td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <b class="label label-success">Aktif</b>
                                    }
                                    else
                                    {
                                        <b class="label label-danger">Pasif</b>
                                    }
                                </td>
                                <td>
                                    @if (item.RoleId == 3)
                                    {
                                        <a href="@Url.Action("MakeAdmin","User",new { Id=item.Id})" class="btn btn-default btn-sm">Admin yap</a>
                                        <a href="@Url.Action("MakeEditor","User",new { Id=item.Id})" class="btn btn-default btn-sm">Editör yap</a>
                                        <a href="@Url.Action("MakeAuthor","User",new { Id=item.Id})" class="btn btn-default btn-sm">Yazar yap</a>
                                    }
                                    else if (item.RoleId == 2)
                                    {
                                        <a href="@Url.Action("MakeAdmin","User",new { Id=item.Id})" class="btn btn-default btn-sm">Admin yap</a>
                                    }
                                    else if (item.RoleId == 4)
                                    {
                                        <a href="@Url.Action("MakeAdmin","User",new { Id=item.Id})" class="btn btn-default btn-sm">Admin yap</a>
                                        <a href="@Url.Action("MakeEditor","User",new { Id=item.Id})" class="btn btn-default btn-sm">Editör yap</a>
                                    }
                                    @if (item.RoleId != 3)
                                    {
                                        <a href="@Url.Action("MakeMember","User",new { Id=item.Id})" class="btn btn-default btn-sm">Yetki al</a>
                                    }
                                    <a href="@Url.Action("Delete","User", new { Id=item.Id })" class="btn btn-default btn-sm">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>