@model HaberSepeti.Data.Model.Kategori
@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Global.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @using (Html.BeginForm("DuzenleKaydet", "Kategori", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-group">
                            <label for="ParentId">Üst Kategori</label>
                            @Html.DropDownListFor(x => x.ParentId, new SelectList(ViewBag.Kategori, "Id", "Ad"), ("Seçiniz"), new { @class = "form-control", id = "ParentId" })
                        </div>
                        <div class="form-group">
                            <label for="kategoriAdi">Kategori Adı</label>
                            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", id = "Ad", placeholder = "Kategori Adı" })
                        </div>
                        <div class="form-group">
                            <label for="kategoriUrl">Kategori Url</label>
                            @Html.TextBoxFor(x => x.URL, new { @class = "form-control", id = "URL", placeholder = "Kategori URL" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.AktifMi, new { @checked = "checked", id = "AktifMi" }) Aktif Mi
                            </label>
                        </div>
                        <a href="#" class="btn btn-default" onclick="KategoriDuzenle();" > Kaydettttt </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
