@model HaberSepeti.Data.Model.Kategori
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form"  method="post">
                        <div class="form-group">
                            <label for="ParentId">Üst kategori</label>
                            @Html.DropDownListFor(Model => Model.ParentId, new SelectList(ViewBag.Kategori, "Id", "Ad"), ("Seçiniz"), new { @class = "form-control", id = "ParentId" })
                        </div>
                        <div class="form-group">
                            <label for="Ad">Kategori Adı</label>
                            @Html.TextBoxFor(x => x.Ad, new { @class="form-control", id="Ad" , name="Ad", placeholder="Kategori Ad"})
                        </div>
                        <div class="form-group">
                            <label for="URL">Kategori Url</label>
                            @Html.TextBoxFor(x => x.URL, new { @class = "form-control", id = "URL", placeholder = "Kategori URL" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.AktifMi, new { @checked = "checked", id = "AktifMi" }) Aktif Mi
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
