@model HaberSepeti.Data.Model.Haber
@{
    ViewBag.Title = "Haber Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<style>
    .bootstrap-tagsinput{
        width:100%
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="KategoriId">Kategori</label>
                            @Html.DropDownListFor(Model => Model.KategoriId, new SelectList(ViewBag.Kategori, "Id", "Ad"), ("Seçiniz"), new { @class = "form-control", id = "KategoriId" })
                        </div>
                        <div class="form-group">
                            <label for="Baslik">Haber Başlığı</label>
                            @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", id = "Baslik", placeholder = "Başlık" })
                        </div>
                        <div class="form-group">
                            <label for="KisaAciklama">Kısa Açıklama</label>
                            @Html.TextBoxFor(x => x.KisaAciklama, new { @class = "form-control", id = "KisaAciklama", placeholder = "Kısa Açıklama" })
                        </div>
                        <div class="form-group">
                            <label for="Aciklama">Açıklama</label>
                            @Html.TextArea("Aciklama")
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['Aciklama'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('Aciklama', { enterMODE: CKEDITOR.ENTER_BR, });
                            </script>
                        </div>

                        <div class="form-group">
                            <label for="Etiket">Etiket</label>
                            <input type="text" class="form-control" data-role="tagsinput" name="Etiket" id="Etiket">
                        </div>

                        <div class="form-group">
                            <label for="VitrinResim">Vitrin Resmi</label>
                            <input type="file" class="form-control" accept="image/*" name="VitrinResim" id="VitrinResim">
                        </div>
                        <div class="form-group">
                            <label for="DetayResim">Detay Resim(ler)</label>
                            <input type="file" class="form-control" accept="image/*" name="DetayResim" id="DetayResim" multiple>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.AktifMi, new { @checked = "checked", id = "AktifMi" }) Aktif Mi
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

