@model IEnumerable<HaberSepeti.Data.Model.Haber>
@{
    ViewBag.Title = "Arama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <h2>Aradığınız İçerikteki Makaleler</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.VitrinResim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EklenmeTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okunma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kullanici.AdSoyad)
                </td>
                <td>
                    <a href="/Default/Detay/@item.Id"> @Html.DisplayFor(modelItem => item.Baslik)</a>
                </td>

                <td>
                    <img class="img-rounded img-responsive" width="75" src="@item.VitrinResim" alt="@item.Baslik" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EklenmeTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Okunma)
                </td>

            </tr>
        }

    </table>
</div>