@model HaberSepeti.Data.Entities.News
@{
    ViewBag.Title = "Haber Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<style>
    .bootstrap-tagsinput{
        width:100%
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="KategoriId">Kategori</label>
                            @Html.DropDownListFor(Model => Model.CategoryId, new SelectList(ViewBag.Category, "Id", "Name"), ("Seçiniz"), new { @class = "form-control", id = "CategoryId" })
                        </div>
                        <div class="form-group">
                            <label for="Baslik">Haber Başlığı</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "Title", placeholder = "Başlık" })
                        </div>
                        <div class="form-group">
                            <label for="KisaAciklama">Kısa Açıklama</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", id = "Description", placeholder = "Kısa Açıklama" })
                        </div>
                        <div class="form-group">
                            <label for="Aciklama">Açıklama</label>
                            @Html.TextArea("Content")
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['Content'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('Content', { enterMODE: CKEDITOR.ENTER_BR, });
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="Tag">Etiket</label>
                            <input type="text" class="form-control" data-role="tagsinput" name="Tag" id="Tag">
                        </div>
                        <div class="form-group">
                            <label for="VitrinResim">Vitrin Resmi</label>
                            <input type="file" class="form-control" accept="image/*" name="ShowcasePicture" id="ShowcasePicture">
                        </div>
                        <div class="form-group">
                            <label for="DetayResim">Detay Resim(ler)</label>
                            <input type="file" class="form-control" accept="image/*" name="DetailPicture" id="DetailPicture" multiple>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.IsActive, new { @checked = "checked", id = "IsActive" }) Aktif Mi
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

