@model HaberSepeti.Data.ViewModels.NewsTagViewModel
@{
    ViewBag.Title = "Haber Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<style>
    .bootstrap-tagsinput {
        width: 100%
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @Html.HiddenFor(x => x.News.Id)
                        <div class="form-group">
                            <label for="KategoriId">Kategori</label>
                            @Html.DropDownListFor(Model => Model.News.CategoryId, new SelectList(ViewBag.Category, "Id", "Name"), ("Seçiniz"), new { @class = "form-control", id = "CategoryId" })
                        </div>
                        <div class="form-group">
                            <label for="Baslik">Haber Başlığı</label>
                            @Html.TextBoxFor(x => x.News.Title, new { @class = "form-control", id = "Title", placeholder = "Başlık" })
                        </div>
                        <div class="form-group">
                            <label for="KisaAciklama">Kısa Açıklama</label>
                            @Html.TextBoxFor(x => x.News.Description, new { @class = "form-control", id = "Description", placeholder = "Kısa Açıklama" })
                        </div>
                        <div class="form-group">
                            <label for="Content">Açıklama</label>
                            @Html.TextArea("News.Content")
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['News.Content'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('News.Content', { enterMODE: CKEDITOR.ENTER_BR, });
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="Etiket">Etiket</label>
                            @Html.TextBoxFor(x=>x.TagName, new { @class="form-control", data_role="tagsinput"})
                        </div>
                        <div class="form-group">
                            <label for="VitrinResim">Vitrin Resmi</label>
                            <input type="file" class="form-control" accept="image/*" name="ShowcasePicture" id="ShowcasePicture">
                            <img src="@Model.News.ShowcasePicture" style="width:100px" />
                        </div>
                        <div class="form-group">
                            <label for="DetayResim">Detay Resim(ler)</label>
                            <input type="file" class="form-control" accept="image/*" name="DetailPicture" id="DetailPicture" multiple>
                            @foreach (var item in Model.News.Pictures.Where(x => x.NewsId == Model.News.Id))
                            {
                                <img src="@item.PictureUrl" width="100" />
                                <label><a href="@Url.Action("DeletePicture","News", new { Id=item.Id})">Resim sil</a></label>
                            }
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.News.IsActive, new { @checked = "checked", id = "IsActive" }) Aktif Mi
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Kaydet</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

