@model HaberSepeti.UI.Models.ViewModels.DetailViewModel
    @{
        ViewBag.Title = "Detay";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="col-lg-8 blog__content mb-30">
        <!-- Breadcrumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/Default/Index" class="breadcrumbs__url"><i class="ui-home"></i></a>
            </li>
            <li class="breadcrumbs__item">
                <a href="/Default/Index" class="breadcrumbs__url">Haber</a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--current">
            </li>
        </ul>


        <!-- standard post -->
        <article class="entry">

            @if (Model.News != null)
            {
                <div class="single-post__entry-header entry__header">
                    <a href="@Url.Action("ListByCategory","Default", new {CategoryUrl=Model.News.Category.URL})" class="entry__meta-category">@Model.News.Category.Name</a>
                    <h1 class="single-post__entry-title">
                        @Model.News.Title
                    </h1>
                    <ul class="entry__meta">
                        <li class="entry__meta-author">
                            <i class="ui-author"></i>
                            <a href="#">@Model.News.User.NameSurname</a>
                        </li>
                        <li class="entry__meta-date">
                            <i class="ui-date"></i>
                            @Model.News.CreatedDate
                        </li>
                        <li class="entry__meta-comments">
                            <i class="ui-comments"></i>
                            <a href="#">@Model.News.Reads</a>
                        </li>
                    </ul>
                </div>
                <div class="entry__img-holder">
                    <img src="@Model.News.ShowcasePicture" alt="@Model.News.Title" class="entry__img">
                </div>
                <!-- Share -->
                <div class="entry__share">
                    <div class="socials entry__share-socials">
                        <a href="https://www.facebook.com/sinemhsrc" class="social social-facebook entry__share-social social--wide social--medium">
                            <i class="ui-facebook"></i>
                            <span class="social__text">Share on Facebook</span>
                        </a>
                        <a href="https://twitter.com/SinemHasirciogl" class="social social-twitter entry__share-social social--wide social--medium">
                            <i class="ui-twitter"></i>
                            <span class="social__text">Share on Twitter</span>
                        </a>
                        <a href="#" class="social social-google-plus entry__share-social social--medium">
                            <i class="ui-google"></i>
                        </a>
                        <a href="#" class="social social-pinterest entry__share-social social--medium">
                            <i class="ui-pinterest"></i>
                        </a>
                    </div>
                </div> <!-- share -->

                <div class="entry__article">
                    @Html.Raw(Model.News.Content)
                    <!-- tags -->
                    <div class="entry__tags">
                        <span class="entry__tags-label">Etiketler:</span>
                        @foreach (var item in Model.News.Tags)
                        {
                            <a href="@Url.Action("ListByTag","Default", new {tagName=item.Name})" rel="tag">@item.Name</a>
                        }
                    </div>
                    <!-- end tags -->
                </div>
                <!-- end entry article -->
                <!-- Author -->
                <div class="title-wrap mt-40">
                    <h5 class="uppercase">Yazar</h5>
                </div>
                <div class="entry-author clearfix">
                    <img alt="" data-src="~/External/Kullanici/avatar.png" src="~/External/Kullanici/avatar.png" class="avatar lazyloaded" width="100">
                    <div class="entry-author__info">
                        <h6 class="entry-author__name">
                            <a href="#">@Model.News.User.NameSurname</a>
                        </h6>
                        <p class="mb-0"></p>
                    </div>
                </div>
            }
            else
            {
                <div class="single-post__entry-header entry__header">

                    <h1 class="single-post__entry-title">
                        @Model.Slider.Title
                    </h1>
                </div>
                <div class="entry__img-holder">
                    <img src="@Model.Slider.PictureURL" alt="@Model.Slider.Title" class="entry__img">
                </div>
                <!-- Share -->
                <div class="entry__share">
                    <div class="socials entry__share-socials">
                        <a href="https://www.facebook.com/sinemhsrc" class="social social-facebook entry__share-social social--wide social--medium">
                            <i class="ui-facebook"></i>
                            <span class="social__text">Share on Facebook</span>
                        </a>
                        <a href="https://twitter.com/SinemHasirciogl" class="social social-twitter entry__share-social social--wide social--medium">
                            <i class="ui-twitter"></i>
                            <span class="social__text">Share on Twitter</span>
                        </a>
                        <a href="#" class="social social-google-plus entry__share-social social--medium">
                            <i class="ui-google"></i>
                        </a>
                        <a href="#" class="social social-pinterest entry__share-social social--medium">
                            <i class="ui-pinterest"></i>
                        </a>
                    </div>
                </div> <!-- share -->

                <div class="entry__article">
                    @Html.Raw(Model.Slider.Description)
                    <!-- tags -->
                    <div class="entry__tags">
                        <span class="entry__tags-label">Etiketler:</span>

                    </div>
                    <!-- end tags -->
                </div>
                <!-- end entry article -->

            }

            <!-- Related Posts -->
            <div class="related-posts">
                <div class="title-wrap mt-40">
                    <h5 class="uppercase">Related Posts</h5>
                </div>
                <div class="row row-20">
                    @foreach (var item in Model.RelatedNews)
                    {
                        <div class="col-md-4">
                            <article class="entry">
                                <div class="entry__img-holder">
                                    <a href="/Default/Detail/@item.Id">
                                        <div class="thumb-container thumb-75">
                                            <img data-src="@item.ShowcasePicture" src="@item.ShowcasePicture" class="entry__img lazyloaded" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="entry__body">
                                    <div class="entry__header">
                                        <h2 class="entry__title entry__title--sm">
                                            <a href="/Default/Detail/@item.Id">@item.Title</a>
                                        </h2>
                                    </div>
                                </div>
                            </article>
                        </div>
                    }
                </div>
            </div>
            <!-- end related posts -->
        </article> <!-- end standard post -->
        <!-- Comments -->
        <div class="entry-comments mt-30">
            <div class="title-wrap mt-40">
                <h5 class="uppercase">@Model.Comments.Count() yorum</h5>
            </div>
            <ul class="comment-list">
                @foreach (var item in Model.Comments)
                {
                    if (item.IsActive == true)
                    {
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-avatar">
                                    <img alt="" src="~/External/Kullanici/avatar.png" width="100">
                                </div>
                                <div class="comment-text">
                                    <h6 class="comment-author">@item.User.NameSurname</h6>
                                    <div class="comment-metadata">
                                        <a href="#" class="comment-date">@item.CreatedDate</a>
                                    </div>
                                    <p>@item.Content</p>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- end comments -->
        @if (Session["UserId"] != null)
        {
            <div id="respond" class="comment-respond">
                <div class="title-wrap">
                    <h5 class="comment-respond__title uppercase">Yorum yapın</h5>
                </div>
                @using (Html.BeginForm("Comment", "Default", FormMethod.Post, new { @class = "comment-form" }))
                {
                    <div class="form-group comment-form-comment">
                        <input type="text" id="content" name="content" multiple required="required" placeholder="Yorumunuz" width="200" />
                    </div>

                    <div class="form-group comment-form-submit">
                        <a href="@Url.Action("Comment", "Default", new { haberId=Model.News.Id})" name="Yorumyap" id="Yorumyap" class="btn btn-default btn-sm" type="submit">yorum yap</a>
                    </div>
                }
            </div>
        }
        else
        {
            <h2>
                Yorum yapmak için giriş yapınız. <br />
                <a href="/Account/Login/" style="color:blue">Giriş yap</a>
            </h2>
        }
        <!-- Comment Form -->
        <!-- end comment form -->
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    @if (Model.News != null)
    {
        <script type="text/javascript">

     $(document).ready(function(){
        $("#Yorumyap").click(function () {
            var comment = $("#content").val();
            $.ajax({
                url: '/Default/Comment/',
                data: {content:comment, newsId:@Model.News.Id},
                type: 'POST',
                dataType: 'json',
                success: function (data) { }
                });
        });
    })
        </script>

        <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Default/ReadIncrease/',
            data: { newsId:@Model.News.Id},
            type: 'POST',
        });
    })
        </script>
    }