@model IEnumerable<HaberSepeti.Data.Model.Haber>
@{
    ViewBag.Title = "UI Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="my-4">
        HaberSepeti
        <small>Anasayfa</small>
    </h1>
    <!-- Blog Post -->
    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="@item.VitrinResim" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">@item.Baslik</h2>
                <p class="card-text">@item.KisaAciklama</p>
                <a href="/Default/Detay/@item.Id" class="btn btn-primary">Devamını oku &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on @item.EklenmeTarihi by
                <a href="#">@item.Kullanici.AdSoyad</a>
            </div>
        </div>
    }

    <!-- Blog Post -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>